.scroll-wrap {
  margin: 0;
  overflow: hidden;
  padding-left: 35px;
}

.box {
    background-color: #008;
    margin: 0;
    padding: 3rem;
}

h1 {
    text-align: center;
    color: #1ba99f; 
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0;
}


