.scroll-wrap {
  margin: 0;
  overflow: hidden;
  padding-left: 35px;
}

.box {
    background-color: 

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

h1 {
    text-align: center;
    color: #1ba99f; 
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0;
}
